# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules and system files
node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

# Cypress
/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Package lock files
package-lock.json

# SCSS 디렉토리 내 모든 .css 파일 무시
src/assets/scss/**/*.css


# TypeScript build info
*.tsbuildinfo

.vite-ssg-temp
